header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img {
    width: 200px;
    height: 85px;
    object-fit: cover;
}

header ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

header li {
    padding: 28px 10px;
    border-top: 2px solid transparent;
    align-self: stretch;
    display: flex;
}
header a {
    display: flex;
    align-items: center;
}

header li:hover a {
    transition: color 0.3s ease-in-out;
    color: white;
}

.responsive-burger-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
    display: none;
}

@media all and (max-width: 767px) {
    
    
    
    .responsive-burger-menu-btn {
        display: block;
    }

   

    header ul {
        flex-direction: column;
        position: absolute;
        right: -100%;
        width: 100%;
        top: 0;
        z-index: 2;
        transform:  scale(0);
    }

    header ul.responsive-header-menu-is-visible {
        transform: scale(1);
        transition: 0.3s right ease-in-out;
        right: 0;
    }

    header li {
        justify-content: center;
        background: white;
        box-shadow: 1px 1px 4px grey;
    }
}